<p>
  <b>Room:</b>
  location:
  <%= @request.location %>
</p>

<p>
  <b>Size:</b>
  <%= @roomsize[@request.size] %>
</p>
<p>
  <b> Building</b>
	<%= @buildings[@request.building]%>
</p>
<%=form_for @request do |r|%>
		<p>
			<%=r.label :comment %><br/>
			<%=r.text_area :comment %>
		</p>
		<p>
			give a check radio: 1/2
		</p>
		<p>//...
			<%=r.submit%>
		</p>
	<% end %>
//need to append new attributes!!
<%= link_to 'Back', rooms_path %>