<p> Requests in Processing </p> 
<table id="requests-list">
  <tr>
  </tr>
  <% @myrequests.each do |request| %> 

        <% if request.status ==3%> 
            <td>Room status: processing </td>
            <td>size: <%= @roomsize[request.size] %></td>
            <td>building: <%= @buildings[request.building] %></td>
            <td>location: <%= request.location%></td>
            <td>week: <%= request.week %></td>
            <td><%= link_to 'Show', request %></td>
        <%end%>
    <%end%>
    </tr>
</table>