<div class="panel panel-primary">
  <div class="panel-heading ">Account information</div>
</div>

<div>
  <table class="table">
    <tbody>
      <tr class="row"> 
        <td class="col-xs-5"> Username </td> 
        <td class="col-xs-7"> <%= @staff.username %></td>
      </tr>
      <tr class="row"> 
        <td class="col-xs-5"> Real Name </td> 
        <td class="col-xs-7"> <%= @staff.name %></td>
      </tr>
      <tr class="row"> 
        <td class="col-xs-5"> Email </td> 
        <td class="col-xs-7"> <%= @staff.email %></td>
      </tr>
      <tr class="row"> 
        <td class="col-xs-5"> Phone </td> 
        <td class="col-xs-7"> <%= @staff.phone %></td>
      </tr>
      <tr class="row"> 
        <td class="col-xs-5"> Staff ID</td> 
        <td class="col-xs-7"> <%= @staff.staffid %></td>
      </tr>
    </tbody>
  </table>
</div>