<%= render 'layouts/notice' %>

<div class="panel panel-primary">
  <div class="panel-heading ">Upload new avater</div>
</div>

<div class="row">
  <div class="col-lg-3 col-lg-offset-2">
      <% if current_user.image? %>
      <%= image_tag current_user.image_url(),class:"avater", :size => "50x40" %>
      <% else %>
      <%= image_tag '/assets/default_avater.jpg' ,class:"avater", :size => "50x40" %>
      <% end %> 
  </div>

  <%=form_for @staff, url: {action: "uploadimage"},:html => {class:'form-horizontal 
     col-lg-7'} do |f|%>
    <div class="form-group row">
      <%=f.label :image, class:"control-label col-lg-2"  %>
      <div class="col-lg-10">
        <%=f.file_field :image %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xs-offset-1 col-xs-4">
        <%=f.submit "Upload", class:"btn btn-info"%>
      </div>
    </div>
  <%end%>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Reset Password</div>
</div>

<form action=<%="/staffs/"+@staff.id.to_s+'/reset/'%> method='post'
  role="form" data-toggle="validator" class="col-xs-12">
   <div class="form-group row">
    <label for="oldpassword" class="control-label col-xs-3">Old password:</label>
    <div class="col-xs-9">
        <input type="password" class="form-control" id="password" name="oldpassword" placeholder="Password" pattern="^\w{6,}" data-error="Minimum of 6 characters"  required>
    </div>
   </div>

   <div class="form-group row">
    <label for="newpassword" class="control-label col-xs-3">New password:</label>
    <div class="col-xs-9">
        <input type="password" class="form-control" id="password" name="newpassword" placeholder="New password" pattern="^\w{6,}" data-error="Minimum of 6 characters"  required>
    </div>
      <span class="help-block with-errors"></span>
   </div>

    <div class="form-group row">
      <div class="col-xs-offset-4 col-xs-4">
          <button type="submit"  class="btn btn-primary">Reset</button>
      </div>
   </div>
</form>

<div class="panel panel-danger" style="overflow:hidden">
  <div class="panel-heading">Delete Account</div>
</div>
<div class="row">
  <div class="col-xs-offset-2 col-xs-8">
      <%= link_to 'Delete Account(CANNOT cancell, BE CAREFUL)', '/staffs/'+@staff.id.to_s+'/shut_down/', class: "btn btn-danger", role:"button" %>
  </div>
</div>
<%= render 'layouts/home_btn' %>

