<h1>Edit Post</h1>
	<div>
		<table>
			<tr>username: <%=@applicant.username%></tr>
			<tr>student id: <%=@applicant.studentid%></tr>
			<tr>department: <%=@applicant.department%></tr>
	</div>
	<%=form_for(@applicant) do |f|%>
	  <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :content%>
      <%= f.text_field :content %>
      <%= f.submit "Save changes"%>
      <%= button_to "delete" , post_path(@post), :confirm => 'Are you sure?', :method => :delete %>
	<% end %>