<% @permitted_list=Request.find_all_by_status_and_staff_id(0, @applicant.id)%>
<% @rejected_list=Request.find_all_by_status_and_staff_id(1, @applicant.id)%>
<% @waiting_list=Request.find_all_by_status_and_staff_id(2, @applicant.id)%>
<% @cancelled_list=Request.find_all_by_status_and_staff_id(3, @applicant.id)%>

<div class="col-xs-offset-2 col-xs-8">
    <div class="panel panel-default">
        <div class="panel-heading">Reservation Request History</div>
        
            <% @watinglist.each do |request| %> 
            <table class="table" id="requests-list">
            <tr>
                <td>Week</td>
                <td>Building</td>
                <td>Location</td>
                <td>Time</td>
                <td>Size</td>
            </tr>
            <tr>
                <!-- status :waiting list -->
                    <!-- <td>Room status: waiting </td> -->
                    <td><%= request.week %></td> 
                    <td><%= @buildings[request.building] %></td>
                    <td><%= request.location %></td>
                    <td><%= request.time %></td>
                    <td><%= @roomsize[request.size] %></td>
                    <% str= '/applicants/'+@applicant.id.to_s+'/requests/'+request.id.to_s+'/show/' %> 
                    <td><%= link_to 'View detail', str, :method => :get %>
                    </td>
            </tr>
            <%end%>
            </table>
            <% @cancellist.each do |request| %> 
            <table class="table" id="requests-list">
            <tr>
                <td>Week</td>
                <td>Building</td>
                <td>Location</td>
                <td>Time</td>
                <td>Size</td>
            </tr>
            <tr>
                <!-- status :waiting list -->
                    <!-- <td>Room status: waiting </td> -->
                    <td><%= request.week %></td> 
                    <td><%= @buildings[request.building] %></td>
                    <td><%= request.location %></td>
                    <td><%= request.time %></td>
                    <td><%= @roomsize[request.size] %></td>
            </tr>
            <%end%>
            </table>
            <% @permitedlist.each do |request| %> 
            <table class="table" id="requests-list">
            <tr>
                <td>Week</td>
                <td>Building</td>
                <td>Location</td>
                <td>Time</td>
                <td>Size</td>
            </tr>
            <tr>
                <!-- status :waiting list -->
                    <!-- <td>Room status: waiting </td> -->
                    <td><%= request.week %></td> 
                    <td><%= @buildings[request.building] %></td>
                    <td><%= request.location %></td>
                    <td><%= request.time %></td>
                    <td><%= @roomsize[request.size] %></td>
            </tr>
            <%end%>
            </table>
            <% @rejectedlist.each do |request| %> 
            <table class="table" id="requests-list">
            <tr>
                <td>Week</td>
                <td>Building</td>
                <td>Location</td>
                <td>Time</td>
                <td>Size</td>
            </tr>
            <tr>
                <!-- status :waiting list -->
                    <!-- <td>Room status: waiting </td> -->
                    <td><%= request.week %></td> 
                    <td><%= @buildings[request.building] %></td>
                    <td><%= request.location %></td>
                    <td><%= request.time %></td>
                    <td><%= @roomsize[request.size] %></td>
            </tr>
            <%end%>
            </table>
        </div>
    /div>
</div>