    <p><%= @staff.name%> is logging!</p>
<p> Requests in Processing </p> 
<table id="requests-list">
  <tr>
  </tr>
  <% @myrequests.each do |request| %> 
        <% if request.status ==3%> 
            <td>Room status: processing </td>
            <td>size: <%= @roomsize[request.size] %></td>
            <td>building: <%= @Buildings[request.building] %></td>
            <td>location: <%= request.location%></td>
            <td>week: <%= request.week %></td>
            ................................................
           <% str= '/staffs/'+@staff.id.to_s+'/requests/'+request.id.to_s %> 
            <td><%= link_to 'Show', str, :method => :get%>
            </td>
        <%end%>
    <%end%>
    </tr>
</table>