<h1>Create a New Post</h1>
	<%=form_for @request do |r|%>
		<p>
			<%=r.label :name %><br/>
			<%=r.text_field :name %>
		</p>
		<p>
			<%=r.label :department %><br/>
			<%=r.text_field :department %>
		</p>
		<p>
			<%=r.label :location %><br/>
			<%=r.text_field :location %>
		</p>
		<p>
			<%=r.label :studentid %><br/>
			<%=r.text_field :studentid %>
		</p>
		<p>
			<%=r.label :phone %><br/>
			<%=r.text_field :phone %>
		</p>
		<p>
			<%=r.label :description %><br/>
			<%=r.text_area :description %>
		</p>
		<p>
			<%=r.label :numAttendents %><br/>
			<%=r.number_field :numAttendents %>
		</p>
		//......Need to append other attributes using appropriate form helpers
		<p>
			<%=r.submit "Create a New request"%>
		</p>
	<% end %>