<% @roomsize = Request.roomsize %>
<% @buildings = Request.buildings %>

<%if @room%>	
	<div class="col-xs-8 col-xs-offset-2">
		<table class="table">
		    <tbody>
		      <tr class="row"> 
		        <td class="col-xs-5"> Location </td> 
		        <td class="col-xs-7"> <%= @room.location %></td>
		      </tr>
		      <tr class="row"> 
		        <td class="col-xs-5"> Building</td> 
		        <td class="col-xs-7"> <%= @buildings[@room.building] %></td>
		      </tr>
		      <tr class="row"> 
		        <td class="col-xs-5"> Size </td> 
		        <td class="col-xs-7"> <%= @roomsize[@room.size] %></td>
		      </tr>
		    </tbody>
		</table>
	</div>
	<table id="room-list" class="col-lg-12 ">
		<tr>
			<td class="col-lg-1-5">Mon</td>
			<td class="col-lg-1-5">Tues</td>
			<td class="col-lg-1-5">Wed</td>
			<td class="col-lg-1-5">Thur</td>
			<td class="col-lg-1-5">Fri</td>
			<td class="col-lg-1-5">Sat</td>
			<td class="col-lg-1-5">Sun</td>	
		</tr>
		<tr >
			<% 7.times do %>
				<td class="col-lg-1-5 ">
					<table class="day-table"  id="day-table-head"><tr>
						<td class="cell"> 1</td>
						<td class="cell"> 3</td>
						<td class="cell"> 5</td>
						<td class="cell"> 7</td>
						<td class="cell"> 9</td>
						<td class="cell"> 11</td>
					</tr></table>
				</td>
			<% end %>
		</tr>
		<% @rooms = [@room] %>
		<% @rooms.each do |room| %>
		<tr ><% i=0 %><% j=0 %>
			<% @attributes.each do |attr| %>
				

				<% if i%6 == 0 %>
					<td class="col-md-1-5 ">
					<table class="day-table"><tr>
				<% end %>

				<% if room.send(attr) == 0%>  <!-- status: free-->
				  <td class="cell-free cell">
						<%if current_group == "Applicant" %>
						  <% /day(\d)course(\d{1,2})/ =~ attr %>
						  <%str="/applicants/"+current_user.id.to_s+"/rooms/"+room.id.to_s+"/"+$1.to_s+"/"+$2.to_s+"/"%>
					  	<a href=<%=str%> >&nbsp;r</a>
					  	<!-- <button><a href=<%=str%> >R</a></button> -->
					  <% end %>
				  </td>
				<% elsif room.send(attr) ==1 %> <!-- status: class -->
				  <td class="cell-class cell">&nbsp;</td>
				<% elsif room.send(attr) ==2 %> <!-- status: wait -->
				  <td class="cell-wait cell">&nbsp;</td>
				<% else %> 						<!-- status: reserved -->
				  <td class="cell-reserved cell">&nbsp;</td>
				<% end %>


				<% if j%6 == 5 %>
					</tr></table>
					</td>
				<% end %>
				<% i=i+1 %>
				<% j=j+1 %>
		  	<% end %>
		</tr>	
	<%end%>
</table>
	</table>
<%else%>
	<% flash[:info] = "No such room" %>
	<%= render 'layouts/notice' %>
<%end%>
<div class="row">
  <div class="col-xs-offset-5 col-xs-4" style='margin-top:20px;margin-bottom:10px;'>
  	<% if signed_in? %>
      <% if current_group == "Applicant"%>
          <%= link_to 'Home', applicant_path(current_user),
              class: "btn btn-primary", role:"button" %>
      <% else %>
          <%= link_to 'Home', staff_path(current_user),
              class: "btn btn-primary", role:"button" %>
      <% end %>
    <% else %>
    	<%= link_to 'Back', '/guest',
              class: "btn btn-primary", role:"button" %>
    <%end%>  
  </div>
</div>
