<!DOCTYPE html>
<html>
<head>	
	<title>HIT-CRS</title>	
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="utf8">	
	<%= stylesheet_link_tag "bootstrap"%>
	<%= stylesheet_link_tag "custom" %>
	 
	
	<%= javascript_include_tag "hidden" %> 
	<%= javascript_include_tag "jquery-2.1.4" %> 
	<%= javascript_include_tag "bootstrap" %> 
	<%= javascript_include_tag "validator" %>
	<%= javascript_include_tag "custom" %>  

	<%= csrf_meta_tags %>
</head>
<body id="form">
	<%= render 'layouts/header' %>
	<div class="row">
		<div class="col-lg-offset-3 col-lg-6">
		<%= yield %>
		</div>
	</div>
	<%= render 'layouts/footer' %>
</body>
</html>